@model IEnumerable<CompanyViewModel>

<h1>Company's Profile</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="searchProfile" value="@ViewData["Filter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> @Html.DisplayNameFor(model => model.companyDescription.CompanyName)</a>
</th>
            <th>
                @Html.DisplayNameFor(model => model.companyProfile.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyProfile.CompanyWebsite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyProfile.ContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companyProfile.ContactName)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.CompanyLogo)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.companyDescription.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyProfile.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyProfile.CompanyWebsite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyProfile.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyProfile.ContactName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CompanyLogo)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.companyProfile.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.companyProfile.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.companyProfile.Id">Delete</a> |
                <a asp-controller="CompanyJobs" asp-action="Index" asp-route-company="@item.companyProfile.Id">Jobs</a> |
                <a asp-controller="CompanyDescriptions" asp-action="Index" asp-route-id="@item.companyProfile.Id">Description</a> |
                <a asp-controller="CompanyLocations" asp-action="Index" asp-route-id="@item.companyProfile.Id">Location</a>
            </td>
        </tr>
}
    </tbody>
</table>
